#main {
  text-align: center;
}

#tribute-info {
  display: block;
  text-align: justify;
  margin: 0 4rem 0 4rem;
}

#img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem;
  padding: 4rem;
}

#image {
  display: block;
  justify-content: center;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

#img-caption {
  font-weight: bold;
  font-size: 18px;
}
